*.pyc
build/
dist/
*.egg-info/
.vscode
docs/_build/
docs/source/_build
.tox
files/
data/
ids_data/*.wav
ids_data/*.txt
ids_data/*.mp4
.ipynb_checkpoints
scrapetube/scrapetube/__pycache__
src/__pycache__
data_analysis.ipynb

video_data/*
!video_data/.video_input.csv
!video_data/.video_status.csv
video_data/*.wav
video_data/*.txt
video_data/*.mp4

faces/*png
!faces/.gitkeep
known_faces/*png
!known_faces/.gitkeep